<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>老飞机解析站</title>
</head>
<style>
.right {
	width: 100%;
	height: auto;
	padding: 0 0 20px 0;
	display: block;
	overflow: hidden;
}

.right strong{
	position: relative;
	padding: 10px 2%;
	text-decoration: none;
	transition: all 0.5s;
	color: #fff;
	border-radius: 5px;
	background-color: #000;
	box-shadow: 0 0 10px #03e9f4, 0 0 20px #03e9f4, 0 0 20px #03e9f4, 0 0 10px #03e9f4;
	height: auto;
	float: left;
	margin: 54px 20px 0 100px;
	display: inline;
	overflow: hidden;
	zoom: 1
}

</style>
<body>

<h1 style="text-align:center"></h1>

<div style="text-align: center">
    <form>
         <label><input name="radio" type="radio" value="0" checked/>适配接口</label>
         <label><input name="radio" type="radio" value="1" />接口1 </label>
         <label><input name="radio" type="radio" value="2" />接口2 </label>
         <label><input name="radio" type="radio" value="3" />接口3 </label>
         
    </form>
</div>

<div class="right"></div>


</body>

<script src="{{url_for('static',filename='js/ajdx.js')}}"></script>
<script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
<script>

function txs(str){
     html = ""
     json = str.PlaylistItem.videoPlayList;
     for (i = 0; i < json.length; i++) {
         html += '<strong data-url="' + json[i].playUrl + '">' + json[i].title + '</strong>';
    }
     document.getElementsByClassName("right")[0].innerHTML = html;
    init_click();
}

function loadScriptString(src) {
    var script = document.createElement("script");  //创建一个script标签
    script.src = src;
    try {
        //IE浏览器认为script是特殊元素,不能再访问子节点;报错;
        script.appendChild(document.createTextNode(code));
    }
    catch (ex) {
        script.src = src;
    }
    document.getElementsByTagName('head')[0].appendChild(script);
}

function get_aqiyi(url) {
    ajax({
        type: "get",
        url: url,//"https://pub.m.iqiyi.com/h5/main/videoList/album/?albumId=4138874962050301&size=999999&page=1",
        timeOut: 5000,
        success: function (str) {
        try {
            json = JSON.parse(str).data.videos;
            if (json[0].hasOwnProperty("lfj_albumId")){
                get_aqiyi("https://pub.m.iqiyi.com/h5/main/videoList/album/?albumId="+json[0].lfj_albumId+"&size=999999&page=1")
            }else {
                html = "";
                for (i = 0; i < json.length; i++) {
                    html += '<strong data-url=https:' + json[i].pageUrl + '>' + json[i].subTitle + '</strong>';
                }
                document.getElementsByClassName("right")[0].innerHTML = html;
                init_click();
            }

             }catch (err){
                    window.open("play" + location.href.replace(location.origin + "/" , "") + "&title=老飞机解析" ,"_blank");

            }
        },
    });
}
var data_url = {
    "radio" : "0"
}

//点击背景
function init_click(){
    // type = getQueryVariable("url")
    type = location.href;
    if (type.search("iqiyi") != -1) {
        id = type.replace(location.origin + "/?url" , "");
        as = document.getElementsByTagName('strong');
        for(i=0;i<as.length;i++) {
            id2 = as[i].getAttribute("data-url").split("/")[3];
            if (id.search(id2) != -1 ){
                data_url["url"] = as[i].getAttribute("data-url");
                data_url["title"] = as[i].innerHTML;
                as[i].style.background = "#f00";
            }
        }
    }else if (type.search("qq.com") != -1) {
       id2 = type.split("/")
       id = id2[id2.length -1]
       if (type.search("m.v.qq.com") != -1  ){
           try {
               id = type.match(/vid=(.*?)&/);
               if (id == null){
                    id3 = type.match(/\/(.*?)\.htm/)[1]
                    id4 = id3.split("/")
                    id = [id4[id4.length - 1] , id4[id4.length - 1]]
                }
           }catch (e){
               id = type.match(/vid=(.*?)$/);
           }
        }

        as = document.getElementsByTagName('strong');
        for(i=0;i<as.length;i++) {
            id2 = as[i].getAttribute("data-url").split("/");
            if (id[1].replace(".html" , "") == id2[id2.length -1].replace(".html" , "")){
                data_url["url"] = as[i].getAttribute("data-url");
                data_url["title"] = as[i].innerHTML;
                as[i].style.background = "#f00";
            }
        }

    }
     //   window.open("play" + type.replace(location.origin + "/" , "") + "&title=老飞机解析" ,"_blank");
        set_bag();

}

//解析cid 与vid
function init(){
    type = location.href;
    if (type.search("iqiyi") != -1) {
        get_aqiyi("iqy?url=" + btoa(type.replace(location.origin + "/?url=" , "")));

    }else if (type.search("qq.com") != -1) {
        try {
            //手机地址
            if (type.search("m.v.qq.com") != -1  ){
                id = type.match(/cid=(.*?)&/);
                if (id == null){
                    id3 = type.match(/\/(.*?)\.htm/)[1]
                    id4 = id3.split("/")
                    id = [id4[id4.length - 2] , id4[id4.length - 2]]
                }
            }else {
                id = type.match(/cover\/(.*?)\//);
                if (id == null){
                    id = location.href.match(/cover\/(.*?)\./);
                }
            }
            loadScriptString("https://s.video.qq.com/get_playsource?id="+id[1]+"&type=4&range=1-9999&otype=json&callback=txs")

        }catch (err){
              // window.open("play?url=" + type + "&title=老飞机解析" ,"_blank");
              window.open("play" + type.replace(location.origin + "/" , "") + "&title=老飞机解析" ,"_blank");

        }
    }else {
        if (getQueryVariable("url") == "") {
            document.getElementsByTagName("h1")[0].innerHTML = '<a href="//' + location.host + '?url="/>你没有输入地址哦!正确用法<br>' + location.host + '?url=任意平台视频地址';
            document.getElementsByTagName("body")[0].style.backgroundImage = "url({{url_for('static',filename='bg.jpg')}})"
        }
    }

}
init();

//获取url参数
function getQueryVariable(variable) {
       var query = window.location.search.substring(1);
       var vars = query.split("&");
       for (var i=0;i<vars.length;i++) {
               var pair = vars[i].split("=");
               if(pair[0] == variable){return decodeURI(pair[1]);}
       }
       return "";
}
//设置背景
function set_bag(){
    $('strong').click(function (){
        $('strong').removeAttr('style');//删除背景
        $(this).css("background", "#f00");//设置背景
        data_url["url"] = $(this).attr("data-url");
        data_url["title"] = $(this).text();

        window.open("play?url=" + data_url["url"] + "&title=" + data_url["title"] + "&radio=" + data_url["radio"] ,"_blank");
        // openPostWindow('play',  data_url["url"],data_url["title"]);
    })
}



    $("input").each(function(){
    $(this).click(function(){
        var discount = $(this).attr("value") ;
        data_url["radio"] = discount;
    });
});

</script>
</html>
